# SQL_JOIN

### 1. OUTER JOIN:
Вам доступна база данных, принадлежащая метеоресурсу "Гисметео". Она включает таблицы Countries и Weather. Первая таблица хранит информацию о странах, вторая — информацию об ожидаемой температуре в этих странах в определенные дни.

In [ ]:
+----+------------+
| id | name       |
+----+------------+
| 1  | Russia     |
| 2  | Kazakhstan |
| 3  | China      |
| 4  | Ukraine    |
| 5  | Belarus    |
+----+------------+

In [ ]:
+------------+---------------+------------+
| country_id | weather_state | day        |
+------------+---------------+------------+
| 4          | -20           | 2023-01-12 |
| 1          | 13            | 2023-03-19 |
| 3          | -7            | 2022-10-22 |
| 1          | -7            | 2022-11-14 |
| 5          | 30            | 2023-01-06 |
| 5          | 12            | 2023-04-27 |
| 5          | 6             | 2022-11-20 |
| 3          | 20            | 2023-09-30 |
| 2          | 22            | 2023-07-06 |
| 1          | 13            | 2023-06-01 |
| 3          | 30            | 2023-09-17 |
| 4          | 23            | 2023-09-09 |
| 5          | 7             | 2023-03-01 |
| 2          | 32            | 2023-08-25 |
| 3          | 23            | 2022-09-27 |
| 2          | -29           | 2023-01-05 |
| 3          | 17            | 2023-03-15 |
| 1          | 1             | 2023-07-20 |
| 1          | 0             | 2022-10-08 |
| 4          | 15            | 2023-09-27 |
| 3          | 15            | 2023-07-07 |
| 1          | -12           | 2022-11-12 |
| 2          | -5            | 2023-04-08 |
| 2          | 15            | 2023-09-18 |
| 5          | 13            | 2022-09-28 |
| 3          | 8             | 2023-03-01 |
| 4          | -10           | 2023-03-12 |
| 5          | 20            | 2023-09-01 |
| 5          | 25            | 2023-09-04 |
| 3          | 10            | 2023-08-28 |
+------------+---------------+------------+

В зависимости от средней температуры в месяце, метеоресурс характеризует ее определенным типом погоды:

- Cold, если средняя температура меньше или равна 15  
- Hot, если средняя температура больше или равна 25  
- Warm в остальных случаях

**Напишите запрос, который извлекает из предложенной базы данных названия стран, а также определяет тип погоды в каждой стране в сентябре 2023 года. При этом в результирующую таблицу должны быть добавлены названия только тех стран, информация о температуре в которых известна.**

Поле с названием страны должно иметь псевдоним country, поле с типом погоды в стране — weather_type.

#### Решение:

``` sql
SELECT Countries.name AS country, CASE
                           WHEN AVG(Weather.weather_state) <= 15 THEN 'Cold'
                           WHEN AVG(Weather.weather_state) >= 25 THEN 'Hot'
                           ELSE 'Warm'
                           END AS weather_type
FROM Countries RIGHT OUTER JOIN Weather ON Countries.id = Weather.country_id 
WHERE YEAR(Weather.day) = 2023 AND MONTH(Weather.day) = 09  
GROUP BY Countries.name 
```

### 2. INNER JOIN:
Вам доступна база данных, принадлежащая социальной сети "ВКонтакте". Она включает таблицу Confirmations, которая хранит информацию о запрошенных во время регистрации сообщениях с подтверждением.

In [ ]:
+---------+---------------------+-----------+
| user_id | time_stamp          | action    |
+---------+---------------------+-----------+
| 1       | 2023-09-25 08:50:39 | timeout   |
| 1       | 2023-09-26 09:02:20 | timeout   |
| 1       | 2023-09-25 09:20:11 | confirmed |
| 2       | 2023-08-03 11:04:16 | confirmed |
| 3       | 2023-09-16 12:00:11 | timeout   |
| 3       | 2023-09-17 12:00:11 | timeout   |
| 4       | 2023-08-05 14:02:39 | confirmed |
| 4       | 2023-09-25 15:00:20 | timeout   |
| 5       | 2023-05-25 16:00:11 | timeout   |
| 5       | 2023-07-25 17:02:00 | confirmed |
| 6       | 2023-07-05 18:00:39 | confirmed |
| 6       | 2023-09-25 19:50:20 | timeout   |
| 6       | 2023-07-05 18:00:16 | confirmed |
| 7       | 2023-05-25 20:04:00 | timeout   |
| 7       | 2023-04-05 21:02:39 | timeout   |
| 7       | 2023-04-05 21:00:20 | timeout   |
| 8       | 2023-03-25 22:00:11 | timeout   |
| 8       | 2023-10-25 23:04:00 | confirmed |
| 8       | 2023-03-25 22:50:20 | timeout   |
| 9       | 2023-09-06 00:00:39 | confirmed |
| 9       | 2023-09-06 00:02:20 | confirmed |
| 9       | 2023-09-06 00:00:11 | confirmed |
| 10      | 2023-07-26 02:04:39 | confirmed |
| 10      | 2023-07-26 02:04:40 | confirmed |
| 11      | 2023-09-06 03:00:20 | timeout   |
| 12      | 2023-09-16 03:00:20 | timeout   |
| 12      | 2023-09-17 03:00:21 | timeout   |
+---------+---------------------+-----------+

Первое поле этой таблицы содержит идентификатор пользователя, запросившего сообщение с подтверждением регистрации, второе — дату и время запроса, третье — информацию о том, была ли подтверждена регистрация (confirmed — подтверждено, timeout — истек срок подтверждения).

**Напишите запрос, извлекающий из предложенной базы данных идентификаторы пользователей, которые как минимум дважды запросили сообщение с подтверждением регистрации в течение 24 часов.**

#### Решение:

``` sql
SELECT DISTINCT C1.user_id 
FROM Confirmations AS C1 JOIN Confirmations AS C2 ON C1.user_id = C2.user_id
WHERE C1.time_stamp != C2.time_stamp AND C1.time_stamp < C2.time_stamp AND TIMESTAMPDIFF(SECOND, C1.time_stamp, C2.time_stamp) <= 86400
```

### 3. UNION:
Вам доступна база данных, принадлежащая мобильному приложению "ВКонтакте". Она включает таблицу Sessions, которая хранит информацию о том, сколько времени пользователи проводят в приложении.

In [ ]:
+----+----------+
| id | duration |
+----+----------+
| 1  | 264      |
| 2  | 2968     |
| 3  | 600      |
| 4  | 1328     |
| 5  | 499      |
| 6  | 1511     |
| 7  | 57       |
| 8  | 1754     |
| 9  | 2596     |
| 10 | 1716     |
| 11 | 794      |
| 12 | 1822     |
| 13 | 727      |
| 14 | 1170     |
| 15 | 668      |
| 16 | 300      |
| 17 | 138      |
| 18 | 1204     |
| 19 | 2607     |
| 20 | 421      |
| 21 | 283      |
| 22 | 153      |
| 23 | 599      |
| 24 | 2111     |
| 25 | 899      |
| 26 | 2736     |
| 27 | 2239     |
| 28 | 299      |
| 29 | 2200     |
| 30 | 900      |
+----+----------+

Первое поле этой таблицы содержит идентификатор сессии, второе — длительность сессии в секундах. Например, первая запись таблицы Sessions говорит о том, что некоторый пользователь провел в приложении 264 секунды.
**Напишите запрос, который определяет количество сессий продолжительностью:**  
- [0-5) — от 0 (включительно) до 5 минут (не включительно)
- [5-10) — от 5 (включительно) до 10 минут (не включительно)
- [10-15) — от 10 (включительно) до 15 минут (не включительно)
- 15 or more — от 15 минут (включительно) и более

Поле с продолжительностью сессии должно иметь псевдоним session_duration, поле с количеством сессий — total.

``` sql
SELECT '[0-5)' AS session_duration, COUNT(*) AS total
FROM Sessions
WHERE duration < 300

UNION

SELECT '[5-10)' AS session_duration, COUNT(*) AS total
FROM Sessions
WHERE  duration >= 300 AND duration < 600

UNION 

SELECT '[10-15)' AS session_duration, COUNT(*) AS total
FROM Sessions
WHERE  duration >= 600 AND duration < 900

UNION 

SELECT '15 or more' AS session_duration, COUNT(*) AS total
FROM Sessions
WHERE  duration >= 900
```